* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gill Sans;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    min-height: fit-content;
}

img {
    width: 100%;
    /* Make the image responsive */
    max-width: 360px;
    /* Limit the width to match the container */
    height: auto;
    margin: 15px;
}

.container {
    width: 320px;
    height: 265px;
    background: transparent;
    color: #f9f6f6;
    backdrop-filter: blur(10px);
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    /* Rounded corners */
    margin-bottom: 170px;
}

.container h1 {
    text-align: center;
}
.container_copyright {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    background-color: #27ac2b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #45a049;
}

footer {
    color: #f9f6f6;
    font-family: Gill Sans;
    width: 99.7%;
    padding-bottom: 5px;
    position: fixed bottom;
    text-align: center;
}

.vid_back {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    /* Di belakang konten lainnya */
}
